@using SarftService.IServiceContract;
@{
    Layout = null;
    UsersInfo userInfo = new UsersInfo();
    string RoleName = string.Empty;
    if (CookieHelper.GetValue("UsersID") == null)
    {
        ViewContext.RequestContext.HttpContext.Response.Redirect("/Login");

    }
    else if (CookieHelper.GetValue("SessionsID") == null)
    {
        ViewContext.RequestContext.HttpContext.Response.Redirect("/Login");
    }
    else
    {
        userInfo = Global.ServiceClient.GetUserInfoById(Convert.ToInt64(CookieHelper.GetValue("UsersID")));
        if (CookieHelper.GetValue("SessionsID") != (userInfo.UserName + userInfo.Password))
        {
            ViewContext.RequestContext.HttpContext.Response.Redirect("/Login");
        }
        else
        {
            if (userInfo.RoleID == 1)
            { RoleName = "客服"; }
            else if (userInfo.RoleID == 2)
            { RoleName = "导播"; }
            else if (userInfo.RoleID == 3)
            { RoleName = "主持人"; }
            else
            { RoleName = "管理员"; }
        }

    }
}
<!DOCTYPE html>
<html>

<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:16:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>电台违章举报平台</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">


</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="row border-bottom">
                            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: -1px; background: url(/Content/patterns/header-profile.png) no-repeat; ">
                                <div class="navbar-header" style="float:right;margin-top:-10px;margin-right:20px;">
                                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                                </div>

                            </nav>
                        </div>
                        <div class="dropdown profile-element">
                            <span><img id="headimg" alt="image" class="img-circle" height="64" width="64" src="/img/wz-1.png" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="text-muted text-xs block">@userInfo.UserName</span>
                                    <span class="text-muted text-xs block">@RoleName</span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            H+
                        </div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="/Admin/Defult"> <i class="fa fa-home"></i><span class="nav-label">主页</span></a>
                    </li>
                    @{
                        if (userInfo.RoleID == 4)
                        {
                            <li>
                                <a href="#">
                                    <i class="fa fa-edit"></i>
                                    <span class="nav-label">系统管理</span>
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a class="J_menuItem" href="/Users/Index">用户管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/Report/Index">举报类别管理</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/Report/GetReortDataList">推荐违章信息统计</a>
                                    </li>
                                    <li>
                                        <a class="J_menuItem" href="/LogMessage/Index">违章信息操作日志</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(userInfo.Power))
                            {
                                string[] powsList = userInfo.Power.Split(',');
                                for (int i = 0; i < powsList.Length; i++)
                                {
                                    if (powsList[i] == "1")
                                    {
                                        <li>
                                            <a class="J_menuItem" href="/NotScreenMsg/Index"><i class="fa fa-user-secret"></i> <span class="nav-label">违章信息</span></a>
                                        </li>
                                        <li>
                                            <a class="J_menuItem" href="/NotScreenMsg/Recommend"><i class="fa fa-thumbs-up"></i> <span class="nav-label">推荐栏</span></a>
                                        </li>
                                        <li>
                                            <a class="J_menuItem" href="/NotScreenMsg/Trash"><i class="fa fa-trash"></i> <span class="nav-label">回收箱</span></a>
                                        </li>
                                    }
                                    else if (powsList[i] == "2")
                                    {
                                        <li>
                                            <a class="J_menuItem" href="/ReportData/BroadCastInfoList"><i class="fa fa-user"></i> <span class="nav-label">客服推荐违章信息</span></a>
                                        </li>
                                    }
                                    else if (powsList[i] == "3")
                                    {
                                        <li>
                                            <a class="J_menuItem" href="/ReportData/HostManInfoList"><i class="fa fa-user-plus"></i> <span class="nav-label">导播推荐违章信息</span></a>
                                        </li>
                                    }
                                    else if (powsList[i] == "4")
                                    {
                                        <li>
                                            <a class="J_menuItem" href="/LogMessage/Index"><i class="fa fa-user-plus"></i> <span class="nav-label">违章信息操作日志</span></a>
                                        </li>
                                    }
                                }

                            }
                        }
                    }

                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom" style="display:none;">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                    </div>

                </nav>
            </div>
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="/Admin/Defult">主页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:void()" class="roll-nav roll-right J_tabExit exit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Admin/Defult" frameborder="0" data-id="/Admin/Defult" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy; Copyright © 2015-2016 FXFT. All Rights Reserved.
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <script type="text/javascript" src="/Scripts/Login/LoginAjax.js"></script>


    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/layer/layer.min.js"></script>
    <script src="/js/hplus.min.js?v=4.1.0"></script>
    <script type="text/javascript" src="/js/contabs.min.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>
    <script src="/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript">
        function LoginOut() {
            window.location.href = "/Login?timeout=1";
        }
        $(function () {
            //退出系统
            $(".exit").click(function () {
                swal({
                    title: "您确定要退出系统吗",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                }, function () {
                    debugger;
                    if ($.cookie("SessionsID") == null || $.cookie("SessionsID") == undefined) {
                        window.location.href = "/Login?timeout=1";
                    } else {
                        LoginAjax.logout();
                    }
                });
                $(".cancel").text("取消");
            });
        });
    </script>

    <script type="text/javascript" src="/Scripts/amazeui.js"></script>
    <link type="text/css" rel="stylesheet" href="/Content/amazeui.min.css" />
    <!--地图-->
    @*<button style="display:none" type="button" id="Maps"
                class="am-btn am-btn-primary Map"
                data-am-modal="{target: '#doc-modal-Map', closeViaDimmer: 0, width: 1200, height: 800}">
            Modal
        </button>
        <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-Map">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <br />
                <div class="am-modal-bd">
                    <iframe name="ifrmnames" id="map" style="height:700px; width:800px;" frameborder="0" scrolling="no"></iframe>
                </div>

            </div>

        </div>*@
    <!--END地图-->
    <!---->
</body>

<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:17:11 GMT -->
</html>
