<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="ServiceAssembly" value="SarftService.ServiceMain.dll,StartUp"/>
	  <add key="HttpPort" value="7431"/>
	  <add key="NWcfPort" value="7432"/>
	  <add key="ConnectionString" value="Server=fxftdatabase.mysql.rds.aliyuncs.com;initial catalog=gd_ckb;uid=gduser;pwd=1qazse4"/>
    <!--运狗服务地址-->
    <add key="CloudDogAdress" value="121.40.112.218:7146"/>
    <!--小文件存储服务地址-->
    <add key="OSSFileAdress" value="121.40.112.218:7156"/>
    <!--终端信息地址-->
    <add key="TerminalAdress" value="121.40.112.218:7144"/>
    <!--数据总线服务地址-->
    <add key="DATServer" value="192.168.1.29:4501"/>
    <!--城市代码-->
    <add key="CityCode" value="350"/>
    <!--采集数据时间间隔-->
    <add key="tick" value="6000"/>
    <!--管道名称-->
    <add key="TDSubmitChannelName" value="OSSIMG"/>
    <!--管道用户名-->
    <add key="userName" value="Receiver"/>
    <!--检查时间间隔 (分钟)-->
    <add key="TimeTick" value="30"/>
  </appSettings>
</configuration>