
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑举报类型</title>
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link type="text/css" rel="stylesheet" href="/Content/amazeui.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/admin.css">
    <script src="~/Scripts/Report/ReportList.js"></script>
    <script type="text/javascript">
        function AddReportConfig() {
            var id = 0;
            if (document.getElementById("hidid").value != "") {
                id = document.getElementById("hidid").value;
            }
            var ReportName = document.getElementById("ReportName").value;
            if (ReportName == "") {
                alert("举报类型不能为空！");
                return false;
            }
            var ContentConfig = {
                "Id": id,
                "ReportName": ReportName,
                "Remark": $("#Remark").val()
            };
            var ConfigInfoJson = JSON.stringify(ContentConfig);
            ReportList.saveReport(ConfigInfoJson);
        }
        function Getback() {
            window.location.href = "/Report/Index";
        }
    </script>
</head>
<body>
    <input type="hidden" value="@ViewBag.Id" id="hidid" />
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">@ViewBag.Title</strong> </div>
    </div>
    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">基本信息</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1" style="min-height:500px;">
                <form class="am-form">
                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            举报类型：
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <input type="text" class="am-input-sm" name="ReportName" id="ReportName" value="@ViewBag.ReportName" placeholder="请输入举报类型">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color:red;">*必填</div>
                    </div>

                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            备注：
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end">
                            <input type="text" class="am-input-sm" name="Remark" id="Remark" value="@ViewBag.Remark" placeholder="备注">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6">*非必填</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="am-margin">
        <input type="button" name="" value="保　存" class="am-btn am-btn-primary am-btn-xs" onclick="AddReportConfig()">&nbsp;&nbsp;&nbsp;
        <input type="button" name="" value="返　回" class="am-btn am-btn-primary am-btn-xs" onclick="Getback()">
    </div>
</body>
</html>
