@{
    Layout = null;
}
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>一键拍照地图</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <script src="/Scripts/Map/MapList.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            //初始化地图高度
            var heig = document.documentElement.clientHeight;
            $("#container").css("width", "100%");
            $("#container").css("height", heig - 5);
            //end
            MapList.interval();
            window.onresize = function () {
                var heigs = document.documentElement.clientHeight;
                $("#container").css("width", "100%");
                $("#container").css("height", heigs - 5);
            }
        });
    </script>

    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>

    <script>
        var citylocation, map, marker, infoWin = null, markersArray = [];
        var anchor = new qq.maps.Point(6, 6);
        var size = new qq.maps.Size(32, 32);
        var origin = new qq.maps.Point(0, 0);
        var init = function () {
            var center = new qq.maps.LatLng(39.916527, 116.397128);
            map = new qq.maps.Map(document.getElementById('container'), {
                center: center,
                zoom: 11
            });
            infoWin = new qq.maps.InfoWindow({
                map: map
            });
            show();
        }
        //定时加载后地图定点
        function show() {
            debugger;
            var latlngs = new Array();
            if (array.length > 0) {
                setZoom(array);
                latlngs.push(new qq.maps.LatLng(array[0].Lat, array[0].Lon));
                for (var j = 0; j < latlngs.length; j++) {
                    (function (n) {
                        debugger;
                        var marker = new qq.maps.Marker({
                            position: latlngs[n],
                            map: map,
                            title: n,
                            icon: new qq.maps.MarkerImage('/img/MarkPink.png', size, origin, anchor)
                        });
                        markersArray.push(marker);
                        qq.maps.event.addListener(marker, 'click', function () {
                            infoWin.open();
                            infoWin.setContent('<div style="width:300px; height:280px; padding:10px;">' +
                    '<div><img src="' + array[0].ImgURL + '" width="280" height="180" /></div>' +
                    '<div><span style="color:#555; font-size:16px;">车牌号:</span><span style="color:#777; font-size:14px;">' + array[0].ReportCarLicense + '</span></div><div><span style="color:#555; font-size:16px;">位置信息:</span><span style="color:#777; font-size:14px;">' + array[0].TextLocation + '<span></div></div>');
                            infoWin.setPosition(array[n]);
                        });
                    })(j);
                }
                var center = new qq.maps.LatLng(array[0].Lat, array[0].Lon);
                if (!infoWin) {
                    infoWin = new qq.maps.InfoWindow({
                        map: map
                    });
                } else {
                    map.panTo(new qq.maps.LatLng(array[0].Lat, array[0].Lon));
                }

                infoWin.open();
                //tips  自定义内容
                infoWin.setContent('<div style="width:300px; height:280px; padding:10px;">' +
                    '<div><img src="' + array[0].ImgURL + '" width="280" height="180" /></div>' +
                    '<div><span style="color:#555; font-size:16px;">车牌号:</span><span style="color:#777; font-size:14px;">' + array[0].ReportCarLicense + '</span></div><div><span style="color:#555; font-size:16px;">位置信息:</span><span style="color:#777; font-size:14px;">' + array[0].TextLocation + '<span></div></div>');
                infoWin.setPosition(center);
            }
        }



        //点击指定地图位置
        function setHTML(obji, objid, objkey) {
            show(0);
            var center = new qq.maps.LatLng(array[obji].Lat, array[obji].Lon);
            if (!infoWin) {
                infoWin = new qq.maps.InfoWindow({
                    map: map
                });
            } else {
                map.panTo(new qq.maps.LatLng(array[obji].Lat, array[obji].Lon));
            }

            infoWin.open();

            var Remark = GetVehicleNumber(array[obji].TerminalKey);
            //tips  自定义内容
            infoWin.setContent('<div style="width:360px; height:350px; padding:10px;">' +
                '<div><img src="' + array[obji].FileUrl + '" width="360" height="240" /></div>' +
                '<div id="ids_' + array[obji].TerminalKey + '"></div><div>' + array[obji].TerminalKey + '</div><div>' + array[obji].TextLocation + '</div><div>' + array[obji].City + '</div><div>' + array[obji].ReceiveTime + '</div></div>');
            infoWin.setPosition(center);

        }

        function setZoom(points) {
            if (points.length > 0) {
                var maxLng = points[0].Lon;
                var minLng = points[0].Lon;
                var maxLat = points[0].Lat;
                var minLat = points[0].Lat;
                var res;
                for (var i = points.length - 1; i >= 0; i--) {
                    res = points[i];
                    if (res.Lon == 0 || res.Lat == 0) continue;
                    if (res.Lon > maxLng) maxLng = res.Lon;
                    if (res.Lon < minLng) minLng = res.Lon;
                    if (res.Lat > maxLat) maxLat = res.Lat;
                    if (res.Lat < minLat) minLat = res.Lat;
                };
                var cenLog = (parseFloat(maxLng) + parseFloat(minLng)) / 2;
                var cenLat = (parseFloat(maxLat) + parseFloat(minLat)) / 2;
                map.fitBounds(new qq.maps.LatLngBounds(new qq.maps.LatLng(minLat, minLng), new qq.maps.LatLng(maxLat, maxLng)));

            } else {
                //没有坐标，显示全中国
                var center = new qq.maps.LatLng(39.916527, 116.397128);
                map = new qq.maps.Map(document.getElementById('container'), {
                    center: center,
                    zoom: 13
                });
                //获取城市列表接口设置中心点
                citylocation = new qq.maps.CityService({
                    complete: function (result) {
                        map.setCenter(result.detail.latLng);
                    }
                });
                //调用searchLocalCity();方法    根据用户IP查询城市信息。
                citylocation.searchLocalCity();
            }
        }
    </script>
</head>
<body onload="init();">
    <input type="hidden" id="reportid" value="@ViewBag.Id" />
    @*<header class="am-topbar admin-header"> <div class="am-topbar-brand"> <strong> 广电总局</strong> <small> 一键拍照后台</small><small id="tweet_error_msg"></small> </div> <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"> <span class="am-sr-only"> 导航切换</span> <span class="am-icon-bars"> </span> </button> <div class="am-collapse am-topbar-collapse" id="topbar-collapse"> <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list"> <li class="am-hide-sm-only"> <a href="javascript:;" id="admin-fullscreen"> <span class="am-icon-arrows-alt"> </span> <span class="admin-fullText"> 开启全屏</span> </a> </li> </ul> </div> </header> <div class="am-cf admin-main">*@
    <!-- content start -->
    <div class="admin-content">
        <div id="container"> </div>
    </div>
    <!-- content end -->
    <!-- [if lt IE 9] > <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js" > </script > <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js" > </script > <script src="assets/js/amazeui.ie8polyfill.min.js" > </script > <![endif] -->
    <!-- [if (gte IE 9)|!(IE)] ><!-- > <script src="assets/js/jquery.min.js" > </script >
    <!-- <![endif] -->
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/app.js"> </script>
</body>
</html>

